# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Zebnitsky Max\Desktop\JAVAGuru_rpaS5\homework\java\zebnitskyM_PageFromGit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
