# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ENGINEERING\RPA_HTASKS\homework\java\Igor_Antonovich\Lecture3_tasks\Tests\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
